.container{
    margin-right:auto;
    margin-left:auto;
    padding-left:390px;
    padding-right:10px
    display: flex;
    }
.cafe{
color: white;
}
#image{
width: 840px;
heigh: 500px;
}
.image{
max-width: 840px;
}
body {
	margin: -380px;
	padding: 390px;
}
a {
color: #399;
text-decoration: none;
}
.th{
color: #595959
}
td{
font-size:23px;
color: #8e8e8e
}
#herew{
max-width: 840px;
background-color: #ffffff;
}
#live{
color: #ffffff;
background-color: #10C6D2;
}

#download{
color: #ffffff;
background-color: #083CFA
}
#contact_form{
color: #ffffff;
background-color: #03850C
}
#too_css{
color: #ffffff;
background-color: #F09E06
}
#Home{
align: left;
}
.tooplate_nav > li {
  	display: inline-block
}
table {
  width: 100%;
  border-spacing: 0;
}
.up{
margin-top: 8px;
margin-bottom: 4px;
margin-left: 12px;
margin-right: 0px;
padding-right: 12px;
padding-left: 12px;
font-size: 25px;
color: #399;
border: 1px solid;
border-radius: 5px;
}
.upe:hover{
color:#CC6644;
}
.up:hover{
color:#F09E06;
}

tbody > tr:nth-child(2n - 1) {
background-color: #e5e8ed;
}


#little_text{
color:373636;
}
tbody > tr:nth-child(1) {
background-color: #C6C6C6;
}
h2{
color: #aa7444;
}
#gort{
max-width: 1100px;
background-color: #3a4a59;
}
.o_color{
color: #FF6800;
}
#head_line{
border-bottom: 1px solid #399; margin: 5px 3px 10px 0px;
}
#head_line_2{
border-bottom: 1px solid #399; margin: 5px 3px 10px 0px;
}
#head_line_3{
border-bottom: 1px solid #399; margin: 5px 3px 10px 0px;
}
.color{
margin-left: 15px;
margin-right: 15px;
padding-right: 10px;
padding-left: 10px;
font-size: 20px;
border: 1px solid;
border-radius: 7px;
}
.log{
margin-left: 70px;
margin-right:30px;
padding-right: 20px;
padding-left: 20px;
font-size: 20px;
color: #399;
border: 1px solid;
border-radius: 7px;
}
#all{
color: white;
font-size:14px;
}
.text{
color: #8C8C8C;
font-size: 20px;
}
#black{
color: black;
}
#hello{
font-size: 18px;